.gif {
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
    margin: 16px;
    padding: 32px;
    width: 100%;
    flex-direction: column;
    color: white;
    text-decoration: none;
}

.gif h4 { 
    margin: 0;
}

.gif img {
    object-fit: contain;
}